:root {
  font-size: 62.5%;
  --Color-Do-Nav: rgb(59, 59, 59);
  --Color-De-Destaque: #f17105;
  --Color-De-Bordas: white;
}
* {
  cursor: url(/Imagens/Cursor/Cursor.cur), default;
}
.Quadros {
  width: 20rem;
  height: 20rem;
  margin-bottom: 10rem;
}

.Quadros .Quadro1 {
  margin-top: 5rem;
  margin-left: 3rem;
  width: 30rem;
  height: 22rem;
  border: 0.3rem solid white;
  border-radius: 2rem;
}

.Quadros .Quadro1 img {
  width: 20rem;
  margin-left: 5rem;
  cursor: url(/Imagens/Cursor/Pointer.cur), pointer;
}

.Quadros .Quadro1 h1 {
  margin-left: 8rem;
}
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background-image: url(/Imagens/BackGround.png);
}

body::-webkit-scrollbar-thumb {
  border: 0.1rem solid #00092ca2;
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 20px;
  box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
    inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
}

body::-webkit-scrollbar-thumb:hover {
  background: red;
}

body::-webkit-scrollbar-button {
  height: 50rem;
}

.habilidade-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0rem;
  padding: 25px;
  padding-bottom: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 25px;
  list-style: none;
}

.habilidade-item img:hover {
  animation: FlipOn 2s;
}

@keyframes FlipOn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.habilidade-item {
  min-width: 50%;
  scroll-snap-align: start;
}

.habilidade-item img {
  margin-left: 7rem;
  width: 12rem;
}

.has-scrollbar::-webkit-scrollbar {
  width: 3rem; /* for vertical scrollbar */
  height: 0.7rem; /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
  background: blue;
  border-radius: 3rem;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 5rem;
}

.has-scrollbar::-webkit-scrollbar-button {
  width: 5rem;
}

.habilidades {
  margin-bottom: 5rem;
}

.habidade-title {
  margin-left: 2rem;
  font-size: 2rem;
  color: white;
}

.Description {
  width: 65rem;
  height: 25rem;
  margin-inline: 5rem;
  margin-bottom: 3rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: white;
  border-radius: 2rem;
}

.Description h1 {
  display: flex;
  justify-content: center;
  margin-inline: 2rem;
  font-size: 1.8rem;
}

.Description h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.HT {
  display: none;
}

.HT.On {
  display: contents;
  animation: FlipOn 1s;
}
.HT.On h2 {
  display: flex;
  justify-content: center;
  color: white;
}
.HT.On .Tempo {
  margin-inline: 8rem;
  display: block;
  width: 50rem;
  height: 0.8rem;
  background-color: blue;
  border-radius: 5rem;
}

.HT.On .Tempo .Progresso {
  display: block;
  width: 80%;
  height: 0.8rem;
  background-color: var(--Color-De-Destaque);
  border-radius: 6rem;
}
.CS {
  display: none;
}

.CS.On {
  display: contents;
}

.CS.On h2 {
  display: flex;
  justify-content: center;
  color: white;
}

.CS.On .Tempo {
  margin-inline: 8rem;
  display: block;
  width: 50rem;
  height: 0.8rem;
  background-color: blue;
  border-radius: 5rem;
}

.CS.On .Tempo .Progresso {
  display: block;
  width: 80%;
  height: 0.8rem;
  background-color: var(--Color-De-Destaque);
  border-radius: 6rem;
}

.JS {
  display: none;
}

.JS.On {
  display: contents;
}

.JS.On h2 {
  display: flex;
  justify-content: center;
  color: white;
}

.JS.On .Tempo {
  margin-inline: 8rem;
  display: block;
  width: 50rem;
  height: 0.8rem;
  background-color: blue;
  border-radius: 5rem;
}

.JS.On .Tempo .Progresso {
  display: block;
  width: 40%;
  height: 0.8rem;
  background-color: var(--Color-De-Destaque);
  border-radius: 6rem;
}

.C {
  display: none;
}

.C.On {
  display: contents;
}

.C.On h2 {
  display: flex;
  justify-content: center;
  color: white;
}

.C.On .Tempo {
  margin-inline: 8rem;
  display: block;
  width: 50rem;
  height: 0.8rem;
  background-color: blue;
  border-radius: 5rem;
}

.C.On .Tempo .Progresso {
  display: block;
  width: 90%;
  height: 0.8rem;
  background-color: var(--Color-De-Destaque);
  border-radius: 6rem;
}

.CPlus {
  display: none;
}

.CPlus.On {
  display: contents;
}

.CPlus.On h2 {
  display: flex;
  justify-content: center;
  color: white;
}

.CPlus.On .Tempo {
  margin-inline: 8rem;
  display: block;
  width: 50rem;
  height: 0.8rem;
  background-color: blue;
  border-radius: 5rem;
}

.CPlus.On .Tempo .Progresso {
  display: block;
  width: 90%;
  height: 0.8rem;
  background-color: var(--Color-De-Destaque);
  border-radius: 6rem;
}

.Java {
  display: none;
}

.Java.On {
  display: contents;
}

.Java.On h2 {
  display: flex;
  justify-content: center;
  color: white;
}

.Java.On .Tempo {
  margin-inline: 8rem;
  display: block;
  width: 50rem;
  height: 0.8rem;
  background-color: blue;
  border-radius: 5rem;
}

.Java.On .Tempo .Progresso {
  display: block;
  width: 70%;
  height: 0.8rem;
  background-color: var(--Color-De-Destaque);
  border-radius: 6rem;
}

body {
  background-image: url(/Imagens/BackGround.png);
  font-family: 'DM Sans';
}

nav {
  position: fixed;
  margin-left: 20rem;
  width: 35rem;
  height: 65rem;
  background-color: var(--Color-Do-Nav);
  border-radius: 2rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: var(--Color-De-Bordas);
}

nav .Topo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav .Topo img {
  margin-top: 2rem;
  width: 20rem;
  border-radius: 8rem;
}

nav .Topo h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

nav .Topo p {
  color: white;
  background-color: var(--Color-De-Destaque);
  padding: 1rem;
  border-radius: 1rem;
  border: solid 0.1rem;
  font-size: 1.2rem;
}

nav .separador {
  background-color: white;
  width: 30rem;
  height: 1.3px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-inline: auto;
}

nav .email {
  color: white;
  font-size: 1.5rem;
  margin-inline: 15%;
  display: flex;
  align-items: center;
}

nav .telefone {
  color: white;
  font-size: 1.5rem;
  margin-inline: 15%;
  display: flex;
  align-items: center;
  margin-top: 0.1rem;
}

nav .localizacao {
  color: white;
  font-size: 1.5rem;
  margin-inline: 15%;
  display: flex;
  align-items: center;
  margin-top: 0.1rem;
}

nav .Infos {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

nav .Infos p {
  margin-top: 0;
}

nav .Infos h5 {
  margin-bottom: 0.4rem;
}

nav .info img {
  width: 5rem;
}
nav .SocialMidias {
  display: flex;
  margin-top: 1rem;
  margin-inline: 30%;
  gap: 3rem;
}
nav .SocialMidias img {
  width: 3rem;
  cursor: url(/Imagens/Cursor/Pointer.cur), pointer;
}

.Box {
  margin-top: 5rem;
}
body .Box {
  position: relative;
  width: 75rem;
  background-color: var(--Color-Do-Nav);
  height: auto;
  margin-left: 60rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: var(--Color-De-Bordas);
}

body .Box .Menu {
  position: absolute;
  display: flex;
  margin-left: 42rem;
  width: 33rem;
  height: 5rem;
  background-color: var(--Color-De-Destaque);
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-style: solid;
  border-width: 0.15rem;
  border-color: var(--Color-De-Bordas) white;
  z-index: 10;
}

body .Box .Menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 2rem;
  margin-inline: 2rem;
}

body .Box .Menu button {
  background-color: transparent;
  border: none;
  color: white;
}

body .Box .Menu a {
  background-color: transparent;
  border: none;
  color: white;
  text-decoration: none;
}

body .Box .Menu a:hover {
  color: gray;
}
body .Box .Menu button:hover {
  color: gray;
}

body .Box .Sobre h1 {
  color: white;
  margin-top: 2rem;
  margin-left: 2.5rem;
}

body #Cliente {
  margin-top: 20rem;
  margin-bottom: 3rem;
}

body .Box .Sobre p {
  color: white;
  font-size: 1.7rem;
  margin-left: 2.5rem;
  margin-top: 2rem;
}
body .Box .Sobre {
  display: flex;
  flex-direction: column;
}
body .Box .Sobre {
  display: none;
}

body .Box .Sobre.On {
  display: contents;
}

body .Box .Resumo {
  visibility: hidden;
  position: absolute;
  display: none;
}

body .Box .Resumo.On {
  visibility: visible;
  position: relative;
  display: contents;
}

body .Box .Menu button {
  cursor: url(/Imagens/Cursor/Pointer.cur), pointer;
}

body .Box .Portifolio {
  display: none;
}

body .Box .Portifolio.On {
  display: contents;
}

body .Box .Contato {
  visibility: hidden;
  position: absolute;
  display: none;
}

body .Box .Contato.On {
  visibility: visible;
  position: relative;
  display: contents;
}

body .Box .Caixas {
  display: grid;
  grid-template-areas:
    'Caixa1 Caixa2'
    'Caixa3 Caixa4';
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
body .Box .Sytle {
  width: 35rem;
  height: 15rem;
  background-color: var(--Color-De-Destaque);
  border-radius: 2rem;
}

body .Box .Sytle p {
  font-size: 1.5rem;
}

body .Box .Sytle img {
  margin-left: 2rem;
  width: 5rem;
}

body .Box .Caixa1 {
  grid-area: Caixa1;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 0.18rem;
  border-color: var(--Color-De-Bordas);
  animation: Move1 15s linear infinite;
}

body .Box .Caixa2 {
  grid-area: Caixa2;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 0.18rem;
  border-color: var(--Color-De-Bordas);
  animation: Move2 15s linear infinite;
}

body .Box .Caixa2 .Texto h2 {
  margin-top: -1rem;
}

body .Box .Caixa2 .Texto p {
  margin-top: 2rem;
  margin-right: 1rem;
}
body .Box .Caixa3 {
  grid-area: Caixa3;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  border-style: solid;
  border-width: 0.18rem;
  border-color: var(--Color-De-Bordas);
  animation: Move3 15s linear infinite;
}
body .Box .Caixa3 .Texto h2 {
  margin-top: 0rem;
}
body .Box .Caixa4 {
  grid-area: Caixa4;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  border-style: solid;
  border-width: 0.18rem;
  border-color: var(--Color-De-Bordas);
  animation: Move4 15s linear infinite;
}

@keyframes Move4 {
  0% {
    transform: translateX(0rem);
  }
  10% {
    transform: translateY(16rem);
  }
  20% {
    transform: translateY(16rem);
  }
  30% {
    transform: translateX(-36.5rem) translateY(16rem);
  }
  40% {
    transform: translateX(-36.5rem) translateY(16rem);
  }
  50% {
    transform: translateY(0rem) translateX(-36.5rem);
  }
  60% {
    transform: translateY(0rem) translateX(-36.5rem);
  }
  70% {
    transform: translateY(-16.2rem) translateX(-36.5rem);
  }
  80% {
    transform: translateY(-16.2rem) translateX(-36.5rem);
  }
  85% {
    transform: translateX(0rem) translateY(-16rem);
  }
  90% {
    transform: translateX(0rem) translateY(-16rem);
  }
  95% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes Move2 {
  0% {
    transform: translateX(0rem);
  }
  10% {
    transform: translateY(16.2rem);
  }
  20% {
    transform: translateY(16.2rem);
  }

  30% {
    transform: translateY(32.4rem);
  }

  40% {
    transform: translateY(32.4rem);
  }
  50% {
    transform: translateX(-36.5rem) translateY(32.4rem);
  }

  60% {
    transform: translateY(32.4rem) translateX(-36.5rem);
  }

  70% {
    transform: translateY(16.2rem) translateX(-36.5rem);
  }

  80% {
    transform: translateY(16.2rem) translateX(-36.5rem);
  }
  85% {
    transform: translateY(0rem) translateX(-36.5rem);
  }

  90% {
    transform: translateY(0rem) translateX(-36.5rem);
  }
  95% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes Move1 {
  0% {
    transform: translateX(0rem);
  }
  10% {
    transform: translateX(36.2rem);
  }
  20% {
    transform: translateX(36.2rem);
  }
  30% {
    transform: translateX(36.2rem) translateY(16.2rem);
  }
  40% {
    transform: translateX(36.2rem) translateY(16.2rem);
  }
  50% {
    transform: translateX(36.2rem) translateY(32.4rem);
  }
  60% {
    transform: translateX(36.2rem) translateY(32.4rem);
  }
  70% {
    transform: translateX(0rem) translateY(32.4rem);
  }
  80% {
    transform: translateX(0rem) translateY(32.4rem);
  }
  85% {
    transform: translateX(0rem) translateY(16.2rem);
  }
  90% {
    transform: translateX(0rem) translateY(16.2rem);
  }
  95% {
    transform: translateX(0rem) translateY(0rem);
  }
  100% {
    transform: translateX(0rem) translateY(0rem);
  }
}

@keyframes Move3 {
  0% {
    transform: translateX(0rem);
  }
  10% {
    transform: translateY(-16rem);
  }
  20% {
    transform: translateY(-16rem);
  }
  30% {
    transform: translateY(-16rem) translateX(36.5rem);
  }
  40% {
    transform: translateY(-16rem) translateX(36.5rem);
  }
  50% {
    transform: translateY(0rem) translateX(36.5rem);
  }
  60% {
    transform: translateY(0rem) translateX(36.5rem);
  }
  70% {
    transform: translateY(16rem) translateX(36.5rem);
  }
  80% {
    transform: translateY(16rem) translateX(36.5rem);
  }
  85% {
    transform: translateY(16rem) translateX(0rem);
  }
  90% {
    transform: translateY(16rem) translateX(0rem);
  }
  95% {
    transform: translateY(0rem) translateX(0rem);
  }
  100% {
    transform: translateY(0rem) translateX(0rem);
  }
}

body #D3TEC {
  margin-left: 3rem;
  margin-bottom: 4rem;
  width: 10rem;
}

body .Sytle .Texto h2 {
  margin-left: 2.2rem;
  color: white;
}

body .Mobile {
  display: none;
}

.Resumo h1 {
  margin-left: 2.5rem;
  font-size: 2.5rem;
  color: white;
}

.Resumo img {
  width: 7rem;
}

.Resumo .Topo {
  display: flex;
  margin-left: 2rem;
}

.Resumo .Topo .Reta {
  display: block;
  position: absolute;
  margin-top: 7rem;
  margin-left: 3.4rem;
  height: 58rem;
  width: 0.2rem;
  background-color: gray;
}

.Resumo .Topo .Bola {
  display: block;
  position: absolute;
  margin-top: 8.7rem;
  margin-left: 3rem;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background-color: var(--Color-De-Destaque);
  box-shadow: 0rem 0rem 1rem var(--Color-De-Destaque);
}

.Resumo .Topo .Bola1 {
  display: block;
  position: absolute;
  margin-top: 21.4rem;
  margin-left: 3rem;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background-color: var(--Color-De-Destaque);
  box-shadow: 0rem 0rem 1rem var(--Color-De-Destaque);
}

.Resumo .Topo .Bola2 {
  display: block;
  position: absolute;
  margin-top: 33.7rem;
  margin-left: 3rem;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background-color: var(--Color-De-Destaque);
  box-shadow: 0rem 0rem 1rem var(--Color-De-Destaque);
}

.Resumo .Topo .Bola3 {
  display: block;
  position: absolute;
  margin-top: 46rem;
  margin-left: 3rem;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background-color: var(--Color-De-Destaque);
  box-shadow: 0rem 0rem 1rem var(--Color-De-Destaque);
}

.Resumo .Topo .Bola4 {
  display: block;
  position: absolute;
  margin-top: 58.5rem;
  margin-left: 3rem;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background-color: var(--Color-De-Destaque);
  box-shadow: 0rem 0rem 1rem var(--Color-De-Destaque);
}

.Resumo .Status {
  display: flex;
  flex-direction: column;
  color: white;
}

.Resumo .Status .Stat1 {
  display: flex;
  flex-direction: column;
  margin-left: 12rem;
  border-style: solid;
  border-radius: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 45rem;
}

.Resumo .Status .Stat1 h2,
h3 {
  margin-left: 3rem;
}
.Resumo .Status .Stat1 h3 {
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
}
.Resumo .Status .Stat1 #Status {
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.Resumo .SubTopo {
  display: flex;
  margin-left: 2rem;
}

.Resumo .Status .RetaEx {
  display: block;
  position: absolute;
  margin-top: 0rem;
  margin-left: 5.4rem;
  height: 34rem;
  width: 0.2rem;
  background-color: gray;
}

.Resumo .Status .BolaEx {
  display: block;
  position: absolute;
  margin-top: 2rem;
  margin-left: 5.1rem;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background-color: var(--Color-De-Destaque);
  box-shadow: 0rem 0rem 1rem var(--Color-De-Destaque);
}

.Resumo .Status .BolaEx1 {
  display: block;
  position: absolute;
  margin-top: 14rem;
  margin-left: 5.1rem;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background-color: var(--Color-De-Destaque);
  box-shadow: 0rem 0rem 1rem var(--Color-De-Destaque);
}

.Resumo .Status .BolaEx2 {
  display: block;
  position: absolute;
  margin-top: 26rem;
  margin-left: 5.1rem;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background-color: var(--Color-De-Destaque);
  box-shadow: 0rem 0rem 1rem var(--Color-De-Destaque);
}

.Contato h1 {
  margin-left: 3rem;
  color: white;
}
.Formulario {
  margin-top: 2rem;
  margin-left: 15rem;
}
.Formulario form .Linha {
  display: flex;
  margin-left: 2rem;
  gap: 2rem;
}

.Portifolio h1 {
  margin-top: 1rem;
  margin-left: 3rem;
  margin-bottom: 5rem;
  color: white;
}
.Formulario form #Mensagem {
  display: block;
  margin-top: 1rem;
  margin-left: 2rem;
  width: 35.3rem;
  height: 10rem;
}

.Formulario form #enviar {
  margin-top: 1rem;
  margin-left: 25rem;
  border-radius: 2rem;
  padding: 1rem;
  cursor: url(/Imagens/Cursor/Enviar.cur), pointer;
}

.Contato iframe {
  margin-left: 15rem;
  margin-top: 5rem;
}

@media (max-width: 800px) {
  .Desktop {
    display: none;
  }
  body .Mobile .Nav button {
    transform: rotate(270deg);
    background-color: transparent;
    border-top-left-radius: 1rem;
    cursor: pointer;
  }

  body .Mobile {
    display: contents;
  }
  body .Mobile {
    visibility: visible;
  }

  body .Mobile .Nav {
    display: flex;
  }

  body .Mobile .Nav {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    width: 45rem;
    border-radius: 2rem;
    border-style: solid;
    border-color: white;
    border-width: 0.15rem;
    background-color: var(--Color-Do-Nav);
  }

  body .Mobile .Nav .Logo {
    margin-top: 0.5rem;
    margin-left: 1rem;
    position: absolute;
  }
  body .Mobile .Nav .TextoT {
    position: absolute;
    margin-left: 11rem;
  }
  body .Mobile .Nav h2 {
    margin-left: 1rem;
    font-size: 2rem;
    margin-bottom: 0;
    color: white;
  }

  body .Mobile .Nav p {
    margin-left: 1rem;
    border-radius: 1rem;
    background-color: var(--Color-De-Destaque);
    padding: 0.4rem;
    font-size: 1.2rem;
    color: white;
  }

  body .Mobile .Nav button {
    position: absolute;
    margin-left: 41rem;
    margin-top: 1.5rem;
    font-size: 1.6rem;
    color: black;
    background-color: white;
    border-color: var(--Color-De-Bordas);
  }

  body .Mobile .Body {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 45rem;
    height: auto;
    margin-bottom: 6rem;
    background-color: var(--Color-Do-Nav);
    border-radius: 2rem;
    margin-top: 1rem;
    border-color: var(--Color-De-Bordas);
    border-style: solid;
    border-width: 0.15rem;
  }

  body .Mobile .Body p {
    margin-top: 0;
    font-size: 1.5rem;
    margin-inline: 1rem;
    color: white;
  }

  body .Mobile .Body h1 {
    margin-top: 1rem;
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: white;
  }

  body .Mobile .Body ul {
    list-style: none;
    display: grid;
    grid-template-areas:
      'Caixa1'
      'Caixa2'
      'Caixa3'
      'Caixa4';
    margin-right: 4rem;
    gap: 2rem;
  }

  body .Mobile .Body ul img {
    margin-top: 1rem;
    width: 5rem;
  }

  body .Mobile .Body #Caixa1,
  #Caixa2,
  #Caixa3,
  #Caixa4 {
    background-color: var(--Color-De-Destaque);
    border-color: white;
    border-width: 0.1rem;
  }

  body .Mobile .Body ul #Caixa1 {
    grid-area: Caixa1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-radius: 2rem;
  }

  body .Mobile .Body ul #Caixa2 {
    grid-area: Caixa2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-radius: 2rem;
  }

  body .Mobile .Body ul #Caixa3 {
    grid-area: Caixa3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-radius: 2rem;
  }

  body .Mobile .Body ul #Caixa4 {
    grid-area: Caixa4;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }

  body .Mobile .Body ul #Caixa1 .Texto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body .Mobile .Body ul #Caixa2 .Texto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body .Mobile .Body ul #Caixa3 .Texto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body .Mobile .Body ul #Caixa4 .Texto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body .Mobile .Body ul #Caixa1 .Texto h1 {
    color: white;
  }

  body .Mobile .Body ul #Caixa2 .Texto h1 {
    color: white;
  }

  body .Mobile .Body ul #Caixa3 .Texto h1 {
    color: white;
  }

  body .Mobile .Body ul #Caixa4 .Texto h1 {
    color: white;
  }

  body .Mobile .Body ul #Caixa1 .Texto p {
    margin-inline: 2rem;
  }

  body .Mobile .Body ul #Caixa2 .Texto p {
    margin-inline: 2rem;
  }

  body .Mobile .Body ul #Caixa3 .Texto p {
    margin-inline: 2rem;
  }

  body .Mobile .Body ul #Caixa4 .Texto p {
    margin-inline: 2rem;
  }

  body .Mobile .Nav .MenuMobile img {
    width: 3rem;
    margin-left: 1rem;
  }

  body .Mobile .Nav .MenuMobile p {
    border: none;
  }

  body .Mobile .Nav .MenuMobile .EmailMobile {
    margin-top: 12rem;
    display: flex;
    align-items: center;
  }

  body .Mobile .Nav .MenuMobile .EmailMobile .Texto {
    display: flex;
    flex-direction: column;
  }

  body .Mobile .Nav .MenuMobile .TelefoneMobile {
    display: flex;
    align-items: center;
  }

  body .Mobile .Nav .MenuMobile .TelefoneMobile .Texto {
    display: flex;
    flex-direction: column;
  }

  body .Mobile .Nav .MenuMobile .LocalizacaoMobile {
    display: flex;
    align-items: center;
  }

  body .Mobile .Nav .MenuMobile .LocalizacaoMobile .Texto {
    display: flex;
    flex-direction: column;
  }

  body .Mobile .Nav .MenuMobile {
    position: absolute;
    display: none;
  }

  @keyframes MoveOn {
    from {
      height: 11rem;
    }
    to {
      height: 34.1rem;
    }
  }

  @keyframes MoveOff {
    from {
      height: 34.1rem;
    }
    to {
      height: 11rem;
    }
  }

  @keyframes TextOn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  body .Mobile .Nav.AnimationOn {
    animation: MoveOn 1s;
  }

  body .Mobile .Nav.AnimationOff {
    animation: MoveOff 1s;
  }

  body .Mobile .Nav.AnimationOn .MenuMobile.On {
    animation: TextOn 3s;
    position: relative;
    display: flex;
    flex-direction: column;
    left: -10rem;
  }

  body .Mobile .Nav .Bloco {
    content: '';
    display: block;
    background-color: transparent;
    width: 100px;
    height: 11rem;
  }
  body .Mobile .Nav .MenuMobile .Texto h2 {
    color: white;
  }
  body .Mobile .Nav .MenuMobile .Texto p {
    background-color: transparent;
  }

  body .Mobile .Nav .MenuMobile .EmailMobile .Texto p {
    margin-top: 0rem;
    margin-left: 0.7rem;
  }

  body .Mobile .Nav .MenuMobile .TelefoneMobile .Texto p {
    margin-top: 0rem;
    margin-left: 0.7rem;
  }

  body .Mobile .Nav .MenuMobile .LocalizacaoMobile .Texto p {
    margin-top: 0rem;
    margin-left: 0.7rem;
  }

  body .Mobile .Nav .MenuMobile .EmailMobile .Texto h2 {
    margin-top: 0rem;
  }

  body .Mobile .Nav .MenuMobile .TelefoneMobile .Texto h2 {
    margin-top: 0rem;
  }

  body .Mobile .Nav .MenuMobile .LocalizacaoMobile .Texto h2 {
    margin-top: 0rem;
  }

  body .Mobile .Nav .MenuMobile .Social {
    margin-left: 15rem;
    margin-bottom: 2rem;
  }

  body .Mobile .MenuRodape {
    position: fixed;
    bottom: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    background-color: var(--Color-De-Destaque);
    height: 5rem;
    width: 47rem;
    margin: 0;
    justify-content: center;
  }

  body .Mobile .MenuRodape .Botoes {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  body .Mobile .MenuRodape .Botoes button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
  }

  body .Mobile .MenuRodape .Botoes button:hover {
    color: white;
  }

  body .Mobile .Body .ReMo img {
    width: 5rem;
    margin-left: 5rem;
  }

  body .Mobile .Body .ReMo h1 {
    margin-left: 2rem;
  }

  body .Mobile .Body .ReMo p {
    color: white;
  }

  body .Mobile .Body .ReMo .Topo,
  .SubTopo {
    display: flex;
  }
  body .Mobile .Body .ReMo .Status {
    margin-left: 6rem;
  }

  body .Mobile .Body .SoMO {
    visibility: hidden;
    position: absolute;
    display: none;
  }

  body .Mobile .Body .ReMo {
    visibility: hidden;
    position: absolute;
    display: none;
  }

  body .Mobile .Body .PoMo {
    visibility: hidden;
    position: absolute;
    display: none;
  }

  body .Mobile .Body .CoMo {
    visibility: hidden;
    position: absolute;
    display: none;
  }

  body .Mobile .Body .SoMO.On {
    visibility: visible;
    position: initial;
    display: contents;
  }

  body .Mobile .Body .ReMo .Status {
    margin-left: 12rem;
  }

  body .Mobile .Body .ReMo .Status h2,
  h3 {
    margin-left: 0rem;
  }

  body .Mobile .Body .ReMo .Status .Stat1 {
    border-style: solid;
    border-radius: 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border-color: white;
  }

  body .Mobile .Body .ReMo .Status .Stat1 h2,
  h3 {
    margin-left: 1rem;
  }

  body .Mobile .Body .ReMo .Status h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  body .Mobile .Body .ReMo .Status {
    margin-left: 12rem;
  }

  body .Mobile .Body .ReMo.On {
    visibility: visible;
    position: initial;
    display: contents;
  }

  body .Mobile .Body .ReMo h2 {
    color: white;
  }

  .ReMo .Status .RetaExM {
    display: block;
    position: absolute;
    margin-top: 0rem;
    margin-left: -4.6rem;
    height: 29rem;
    width: 0.2rem;
    background-color: gray;
  }

  .ReMo .Status .BolaExM {
    display: block;
    position: absolute;
    margin-top: 2rem;
    margin-left: -5rem;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: var(--Color-De-Destaque);
    box-shadow: 0rem 0rem 1rem var(--Color-De-Destaque);
  }

  .ReMo .Status .BolaEx1M {
    display: block;
    position: absolute;
    margin-top: 12.3rem;
    margin-left: -5rem;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: var(--Color-De-Destaque);
    box-shadow: 0rem 0rem 1rem var(--Color-De-Destaque);
  }

  .ReMo .Status .BolaEx2M {
    display: block;
    position: absolute;
    margin-top: 22.2rem;
    margin-left: -5rem;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: var(--Color-De-Destaque);
    box-shadow: 0rem 0rem 1rem var(--Color-De-Destaque);
  }
  .ReMo .RetaM {
    display: block;
    position: absolute;
    margin-top: 10.7rem;
    margin-left: 7.4rem;
    height: 50rem;
    width: 0.2rem;
    background-color: gray;
  }

  .ReMo .BolaM {
    display: block;
    position: absolute;
    margin-top: 12.5rem;
    margin-left: 7rem;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: var(--Color-De-Destaque);
    box-shadow: 0rem 0rem 1rem var(--Color-De-Destaque);
  }

  .ReMo .Bola1M {
    display: block;
    position: absolute;
    margin-top: 23rem;
    margin-left: 7rem;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: var(--Color-De-Destaque);
    box-shadow: 0rem 0rem 1rem var(--Color-De-Destaque);
  }

  .ReMo .Bola2M {
    display: block;
    position: absolute;
    margin-top: 33rem;
    margin-left: 7rem;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: var(--Color-De-Destaque);
    box-shadow: 0rem 0rem 1rem var(--Color-De-Destaque);
  }

  .ReMo .Bola3M {
    display: block;
    position: absolute;
    margin-top: 43rem;
    margin-left: 7rem;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: var(--Color-De-Destaque);
    box-shadow: 0rem 0rem 1rem var(--Color-De-Destaque);
  }

  .ReMo .Bola4M {
    display: block;
    position: absolute;
    margin-top: 53rem;
    margin-left: 7rem;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: var(--Color-De-Destaque);
    box-shadow: 0rem 0rem 1rem var(--Color-De-Destaque);
  }

  body .Mobile .Body .ReMo #Status {
    color: white;
  }

  body .Mobile .Body .ReMo h3 {
    color: white;
  }

  body .Mobile .Body .PoMo.On {
    visibility: visible;
    position: initial;
    display: contents;
  }

  body .Mobile .Body .CoMo.On {
    visibility: visible;
    position: initial;
    display: contents;
  }

  body .Mobile .Body .CoMo h1 {
    margin-left: 3rem;
  }

  body .Mobile .Body .CoMo .Formulario {
    margin-left: 1.5rem;
  }

  body .Mobile .Body .CoMo iframe {
    margin-inline: auto;
  }

  body .Mobile .Body .CoMo .Formulario #Mensagem {
    width: 36.7rem;
  }

  body .Mobile .Body .CoMo .Formulario #enviar {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
